<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddelivery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/food_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery">
        <activity android:name=".UI.ShowDetails" />
        <activity android:name=".UI.OnboardingScreen"
            android:exported="true">

        </activity>
        <activity android:name=".UI.HomePage"
            android:exported="true">

        </activity>
        <activity android:name=".UI.ForgetPassword" />
        <activity android:name=".UI.LoginIn" />
        <activity
            android:name=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Adapter.SlideAdapter"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING.EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>
</manifest>